@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  color: white;
  background-color: #333333;
}
body.light {
  color: #1f1f1f;
  background-color: #fff;
}

a {
  text-decoration: underline;
  color: #17ffaa;
}
