@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 22px;
}

body.dark {
  color: white;
  background-color: #0b0b0b;
}
body.light {
  color: #1f1f1f;
  background-color: #fff;
}

a {
  text-decoration: underline;
  color: #20d492;
}
